.todos-item {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;

  &__label {
    display: flex;
    align-items: inherit;
    gap: 8px;
  }

  &__checkbox {
    &:checked {
      ~ .todos-item__title {
        text-decoration: line-through;
      }
    }
  }
}
