.input-field {
  display: grid;
  border-color: var(--gray-border);
  gap: 8px;

  &__name {
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }

  &__value {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid;
    border-color: inherit;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;

    &:is(textarea) {
      height: 100px;
      resize: none;
    }
  }

  &--error {
    border-color: red;
    color: red;
  }
}
