@import "@styles/mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-size: 14px;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.app {
  --app-menu-padding: 16px;
  --gray-border: lightgrey;

  @include media-desctop {
    --app-menu-padding: 24px;

    display: grid;
    grid-template-columns: min-content auto;
    min-height: 100dvh;
    font-size: 16px;
  }
}

.app-menu {
  overflow: auto;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--gray-border);
  background: white;

  @include media-desctop {
    max-height: 100dvh;
    border-right: 1px solid var(--gray-border);
    border-bottom: none;
    background: transparent;
  }

  &__list {
    min-height: 100%;
    display: flex;
    gap: 16px;

    @include media-desctop {
      display: block;
    }
  }

  &__link {
    display: block;
    padding: var(--app-menu-padding);
    text-decoration: none;
    color: inherit;
    transition: 0.3s;

    &.active {
      pointer-events: none;
      opacity: 0.5;
      text-decoration: underline;
    }

    @include hover {
      transform: translateX(5px);
    }
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: var(--app-menu-padding);
}

.form {
  display: grid;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  gap: var(--app-menu-padding);
  padding: var(--app-menu-padding) 0;

  &__submit {
    padding: 8px;
    border: 1px solid var(--gray-border);
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    font-size: inherit;
    background: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    @include hover() {
      background-color: var(--gray-border);
      border-color: var(--gray-border);
    }
  }
}
